@using Mvc.Controllers
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mvc</title>

    @* <link rel="stylesheet" href="~/Mvc.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/lib/pico.sand.min.css" asp-append-version="true" />
    <script defer src="~/lib/htmx.min.js" asp-append-version="true"></script>
</head>

<body hx-boost="true" class="container">
    <header>
        <nav>
            <ul>
                <li><strong>HTMX MVC</strong></li>
            </ul>
            <ul>
                <li><a asp-controller="@(HomeController.Url<HomeController>())" 
                    asp-action="@nameof(HomeController.Index)">Home</a></li>
                <li><a asp-controller="@(HomeController.Url<HomeController>())" asp-action="@nameof(HomeController.Privacy)">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
